@model IEnumerable<LojaCamisas.Application.ViewModels.CamisaViewModel>

<h2>Camisas</h2>

<div class="mb-3">
    <input type="text" id="buscaCamisa" class="form-control" placeholder="Buscar camisas..." />
</div>

<div id="listaCamisas">
    @await Html.PartialAsync("_ListaCamisasPartial", Model)
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#buscaCamisa").on("input", function () {
                var termo = $(this).val();

                $.get("/Camisas/Buscar", { termo: termo }, function (data) {
                    $("#listaCamisas").html(data);
                });
            });
        });
    </script>
}
